server:
  port: 8080
  servlet:
    context-path: /
    encoding:
      charset: UTF-8
      enabled: true
      force: true
      
spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/security?serverTimezone=Asia/Seoul
    username: cos
    password: 6214
      
  jpa:
    hibernate:
      ddl-auto: update #create update none
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    show-sql: true
    
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: 832800115687-ob1n0k5ms2d1tq2a6o2do0frr9s88hsp.apps.googleusercontent.com
            client-secret: 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
            scope:
            - email
            - profile
          facebook:
            client-id: 잠시
            client-secret: 보류
            scope:
            - email
            - public_profile